AT-InvMan/.vs/AT-InvMan/FileContentIndex/dd252c8a-6899-4df0-8cb8-0c7bb88f095e.vsidx
AT-InvMan/.vs/AT-InvMan/v17/Browse.VC.db
AT-InvMan/.vs/AT-InvMan/v17/Browse.VC.opendb
/AT-InvMan/.vs/AT-InvMan/FileContentIndex
AT-InvMan/.vs/AT-InvMan/v17/Browse.VC.db-wal
AT-InvMan/.vs/AT-InvMan/v17/Browse.VC.db-wal
AT-InvMan/.vs/AT-InvMan/v17/Browse.VC.db-wal

# Build results
[Bb]in/
[Oo]bj/
x64/
Debug/
Release/

# VS settings and temp files
.vs/
*.user
*.suo
*.VC.db
*.ncb
*.log
*.tlog
*.pdb
*.sdf
*.opensdf
*.cache
*.tmp
*.bak

# Compiled files
*.dll
*.exe
*.obj
*.ipch
*.pch

# Code analysis & browsing
*.CodeAnalysisLog.xml
*.db
